*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN */

.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    margin: 3rem 20%;
}

.section{
    width: calc((100% / 3) - (2rem / 3));
    height: 596px;
    display: flex;
    flex-direction: column;
}

.square{
    height: 100%;
    position: relative;
}

.img{
    background-size: cover;
    background-repeat: no-repeat;
}

.img-1{
    background-image: url(/img/1.webp);
}

.img-2{
    background-image: url(/img/2.webp);
}

.img-3{
    background-image: url(/img/3.webp);
}

.img-4{
    background-image: url(/img/4.webp);
}


.img-5{
    background-image: url(/img/5.webp);
}

.img-6{
    background-image: url(/img/6.webp);
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 1px;
}

/* SQUARES */
.square-heart{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: white;
    right: 0;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.square-red{
    position: absolute;
    background-color: red;
    color: white;
    padding: 0.3rem;
    left: 0;
    bottom: 3rem;
}

.square-green{
    position: absolute;
    background-color: green;
    color: white;
    padding: 0.3rem;
    left: 3rem;
    bottom: 3rem;
}

.square-green-6{
    position: absolute;
    background-color: green;
    color: white;
    padding: 0.3rem;
    left: 0;
    bottom: 3rem;
}